<div
  data-task-id="{{id}}"
  class="even:bg-orange-50 even:bg-opacity-50"
  x-data="{ open: false, runAt: new Date(`{{run_at}}`) }"
>
  <div class="flex items-center text-gray-500 text-sm p-4 space-x-2">
    <button @click="open = !open">
      {{! down chevron svg}}
      <svg
        class="w-6 h-6 text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          x-show="!open"
          fill-rule="evenodd"
          d="M10 13a1 1 0 01-.707-.293l-3-3a1 1 0 111.414-1.414L10 10.586l2.293-2.293a1 1 0 111.414 1.414l-3 3A1 1 0 0110 13z"
          clip-rule="evenodd"
        />
        <path
          x-show="open"
          fill-rule="evenodd"
          d="M10 7a1 1 0 01.707.293l3 3a1 1 0 11-1.414 1.414L10 9.414 7.707 11.707a1 1 0 11-1.414-1.414l3-3A1 1 0 0110 7z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <div class="text-gray-400 text-sm flex items-center">
      <div
        {{inline_if worker_id "data-active"}}
        class="ml-2 rounded-full h-2 w-2 data-[active]:bg-orange-400 data-[active]:block hidden"
      ></div>
    </div>
    <div class="whitespace-nowrap text-sm text-gray-500">{{job_name}}</div>
    <div class="text-gray-500 break-all font-mono">{{name}}</div>
    <div class="font-mono text-xs break-all">
      {{~#if retry_count}}{{retry_count}}{{/if~}}
      {{~#if max_retries}}/{{max_retries}}{{/if~}}
    </div>
    <div>
      <time datetime="{{run_at}}" x-timeago="runAt">{{run_at}}</time>
    </div>
    <div
      class="flex-1 text-xs break-all text-end flex items-center justify-center"
    >
      <button
        hx-post="/admin/tasks/{{id}}/cancel"
        hx-target="#enqueued-table"
        hx-trigger="click"
        hx-confirm="Are you sure you want to cancel this task?"
        type="submit"
        class="inline-block py-2 px-3 rounded-xl hover:underline decoration-red-400 text-red-500"
      >
        Cancel
      </button>
    </div>
  </div>
  <div x-show="open" class="p-4 text-xs text-gray-500">
    <pre>{{stringify_json data}}</pre>
  </div>
</div>
