{{#*inline "body"}}

<ul>
{{#each tasks}}
  <div>
{{/each}}
</ul>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    {{! <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none"> }}
    {{!   <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add user</button> }}
    {{! </div> }}
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 max-w-[calc(100vw-4rem)]  overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block max-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="max-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {{#each tasks}}
              <tr class="even:bg-orange-50">
                <td
                 {{#if error_message}}data-error{{/if}}
                  class="
                    whitespace-nowrap py-4 pl-4 pr-3 text-sm
                    data-[error]:text-red-600 font-medium text-green-600 sm:pl-6
                  "
                >{{#if error_message}}ERROR{{else}}SUCCESS{{/if}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-400 hover:text-gray-500">{{endpoint}}
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{job_name}}</td>
                <td class="px-3 py-4 text-sm text-gray-500 break-all whitespace-break-spaces"><pre>{{stringify_json data false}}</pre></td>
                <td class="px-3 py-4 text-gray-500 font-mono text-xs break-all whitespace-break-spaces">{{error_message}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{/inline}}
{{>layout}}
